body{
  margin: 0;
  font-family: arial;
  color: #575757;
}

header {
   width: 98%;
}
nav {
  display: flex;
   height: 100px;
   /*background-color: #ff944d;*/
}

img {
  display: flex;
   width: 100px;
   margin: 15px auto 15px 15px;
   /*background-color: #2eb8b8;*/
}


ul {
  display: flex;
  /*background-color: #2eb8b8;*/
  padding: 5px;
  margin-right: 15px;
  list-style-type: none;
}

li {
   width: 120px;
   margin: 0 10px 0 10px;
   /*background-color: #ffcc99;*/
   display: flex;
   flex:1;
}

a {
  margin: auto;
  text-decoration: none;
  color: black;
}


header .header {
   text-align: left;
   width: 45%;
   height: auto;
   margin: 15px 40px;

}

header .header #red {
    font-weight: bold;
    color: red;
}

header .header .big {
   font-size: 50px;
}

header .nav {
  width: 75%;
  height: auto;
  text-align: center;
}

header .nav ul {
  width: 25%;
  height: auto;
}

header .nav li {
  margin: auto;
}


.date, .recherche, .nbvoyageur{
    padding-left: 1%;
}

header label {
    margin-top: 1%;
}

header input, header select {
    color: #767676;
    opacity: 1;
    font-size: 19px;
}

.date, .recherche {
    box-sizing: border-box;
    border-right: 0.2px solid silver;
}

.barre-de-recherche {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border: 0.2px solid silver;
    border-radius: 4px;
    display: flex;
    width: 85%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
}

header section div, form {
    width: 33.3%;
}

header select, input {
    width: 98%;
    height: 50px;
    border: none;
    background-color: white;
}

.nbvoyageur , .Destination , .Logements {
    display: flex;
}

.selection, .grandboutton {
    width: 50%;
}



.first {
  width: 98%;
}

.first figure {
  display: flex;

}
