body{
  margin: 0;
  font-family: arial;
  color: #575757;
}


/*################################## header #########################*/
header {
   width: 98%;
}
nav {
  display: flex;
   height: 100px;
   /*background-color: #ff944d;*/
}

header img {
  display: flex;
   width: 100px;
   margin: 15px auto 15px 15px;
   /*background-color: #2eb8b8;*/
}


ul {
  display: flex;
  /*background-color: #2eb8b8;*/
  padding: 5px;
  margin-right: 15px;
  list-style-type: none;
}

li {
   width: 120px;
   margin: 0 10px 0 10px;
   /*background-color: #ffcc99;*/
   display: flex;
   flex:1;
}

a {
  margin: auto;
  text-decoration: none;
  color: black;
}


header .header {
   text-align: left;
   width: 45%;
   height: auto;
   margin: 15px 40px;

}

header .header #red {
    font-weight: bold;
    color: red;
}

header .header .big {
   font-size: 50px;
}

header .nav {
  width: 75%;
  height: auto;
  text-align: center;
}

header .nav ul {
  width: 25%;
  height: auto;

}


header .nav li {
  margin: auto;
}


.date, .recherche, .voyage{
    padding-left: 1%;
}

header label {
    margin-top: 1%;
}

header input, header select {
    color: #767676;
    opacity: 1;
    font-size: 19px;
}

.date, .recherche {
    box-sizing: border-box;
    border-right: 0.2px solid silver;
}

.divrecherche {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border: 0.2px solid silver;
    border-radius: 4px;
    display: flex;
    width: 85%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
}

header section div, form {
    width: 33.3%;
}

header select, input {
    width: 98%;
    height: 50px;
    border: none;
    background-color: white;
}

.voyage , .Destination , .Logements {
    display: flex;
}

.selection, .bigbutton {
    width: 50%;
}
 /*##################################### body #################################*/
 main {
   margin: 1;
   width: 100%;
   height: auto;
 }
 figure {
   display: flex;
   padding: 2%;
 }
 .first {
   width: 98%;
   display: flex;
 }

 .first figcaption {
   display: flex;

 }
 .first figcaption .pc {
   /*width: 20%;*/
   /*height: auto;*/
   flex:1;
   justify-content: space-between;

 }


 .second {
    width: 98%;
    display: flex;
    margin: auto;
 }

 .second figcaption {
    display: flex;
 }
 .second figcaption .pc {
   justify-content: space-between;
   flex:1;
   margin-right: 10px;
 }

 .third {
     width: 98%;
     display: flex;
     margin: auto;
 }

 .third figcaption {
   display: flex;
   margin-right: 10px;
 }

 .third figcaption .pc {
   width: 20%;
   flex:1;
   justify-content: space-between;
 }

 .fourth {
   width: 98%;
   display: flex;
 }

 .fourth figcaption {
   display: flex;

 }

 .fourth figcaption .pc {
   flex: 1;
   justify-content: space-between;
   margin-right: 10px;
 }


 .last {
   width: 98%;
   display: flex;
   flex-flow: nowrap row;

 }
 .fifth {
   display: inline-block;
   position: relative;
 }

 .image {

   /*float: right;
   position: absolute;*/
 }

 /*############################" footer #############################"*/

 footer {
   margin: 8% 8% auto;
 }

 /*************************1er partie footer **************************
 **************************************************************************/

 .pied
 {
 display: flex;
 justify-content: space-between;
 }

 .pied li {
   list-style: none;
   color: #767676;
 }
 .pied h3 {
   text-align: center;
 }
 .pied select{

     background-color: white;
     border: 1px solid #aaa;
     border-radius: 2px;
     color: #484848;
     display: block;
     font-size: 19px;
     font-weight: 300;
     height: auto;
     line-height: 24px;
     padding: 12px 40px 12px 12px;
     width: 100%;
 }
 .Airbnb ul, .Découvrir ul, .Hébergement ul{
   width: 15%;
   /*height: 30%;;*/
   display: flex;
   flex-flow: column nowrap;
 }




/*############################### tablette ##############################*/

@media (min-width: 768px) {

  body {
    width: 98%;

}
  header{
    width: 90%;
}

header .header {
   text-align: left;
   width: 45%;

   main {
     margin: 1;
     width: 100%;
     height: auto;
   }
   figure {
     display: flex;
     padding: 2%;
   }
   .first {
     width: 98%;
     display: flex;
   }

   .first figcaption {
     display: flex;

   }
   .first figcaption .pc {
     /*width: 20%;*/
     /*height: auto;*/
     flex:1;
     justify-content: space-between;

   }


   .second {
      width: 98%;
      display: flex;
      margin: auto;
   }

   .second figcaption {
      display: flex;
   }
   .second figcaption .pc {
     justify-content: space-between;
     flex:1;
     margin-right: 10px;
   }

   .third {
       width: 98%;
       display: flex;
       margin: auto;
   }

   .third figcaption {
     display: flex;
     margin-right: 10px;
   }

   .third figcaption .pc {
     width: 20%;
     flex:1;
     justify-content: space-between;
   }

   .fourth {
     width: 98%;
     display: flex;
   }

   .fourth figcaption {
     display: flex;

   }

   .fourth figcaption .pc {
     flex: 1;
     justify-content: space-between;
     margin-right: 10px;
   }


   .last {
     width: 98%;

   }
   .fifth {
     display: inline-block;
   }

   .image {

     float: right;
   }

   /*############################" footer #############################"*/

   footer {
     margin: 8% 8% auto;
   }

   /*************************1er partie footer **************************
   **************************************************************************/

   .pied
   {
   display: flex;
   justify-content: space-between;
   }

   .pied li {
     list-style: none;
   }
   .pied h3 {
     text-align: center;
   }
   .pied select{

       background-color: white;
       border: 1px solid #aaa;
       border-radius: 2px;
       display: block;
       height: auto;
       padding: 12px 40px 12px 12px;
       width: 100%;
   }
   .Airbnb , .Découvrir , .Hébergement {
     width: 15%;
     height: 30%;;
   }

 }

/*################################ portable ###################################*/
 @media (min-width: 360px) {


   body {
     width: 98%;

 }
   header{
     width: 90%;
 }

 header .header {
    text-align: left;
    width: 45%;

    main {
      margin: 1;
      width: 100%;
      height: auto;
    }
    figure {
      display: flex;
      padding: 2%;
    }
    .first {
      width: 98%;
      display: flex;
    }

    .first figcaption {
      display: flex;

    }
    .first figcaption .pc {
      /*width: 20%;*/
      /*height: auto;*/
      flex:1;
      justify-content: space-between;

    }


    .second {
       width: 98%;
       display: flex;
       margin: auto;
    }

    .second figcaption {
       display: flex;
    }
    .second figcaption .pc {
      justify-content: space-between;
      flex:1;
      margin-right: 10px;
    }

    .third {
        width: 98%;
        display: flex;
        margin: auto;
    }

    .third figcaption {
      display: flex;
      margin-right: 10px;
    }

    .third figcaption .pc {
      width: 20%;
      flex:1;
      justify-content: space-between;
    }

    .fourth {
      width: 98%;
      display: flex;
    }

    .fourth figcaption {
      display: flex;

    }

    .fourth figcaption .pc {
      flex: 1;
      justify-content: space-between;
      margin-right: 10px;
    }


    .last {
      width: 98%;

    }
    .fifth {
      display: inline-block;
    }

    .image {

      float: right;
    }

    /*############################" footer #############################"*/

    footer {
      margin: 8% 8% auto;
    }

    /*************************1er partie footer **************************
    **************************************************************************/

    .pied
    {
    display: flex;
    justify-content: space-between;
    }

    .pied li {
      list-style: none;
    }
    .pied h3 {
      text-align: center;
    }
    .pied select{

        border: 1px solid #aaa;
        border-radius: 2px;
        display: block;
        height: auto;
        padding: 12px 40px 12px 12px;
        width: 100%;
    }
    .Airbnb , .Découvrir , .Hébergement {
      width: 15%;
      height: 30%;;
    }
}
